.contacts-page {

    &__logo {
        display: block;
        width: 100%;
        max-width: 80px;
        height: auto;
        margin: 0 auto 25px;
    }

    &__info {
        max-width: 238px;
        box-shadow: 0 0 10px rgba(#000,.2);
        padding: 42px 40px 62px;
        box-sizing: border-box;
        background: #fff;

        .hentry {
            margin: 0;
        }

        .entry-content {
            margin: 0;

            a {
                color: #f1392b;
            }

            p {
                margin: 0;
            }
        }
    }
}
