.header {
    text-align: center;

    &__container {
        margin: 0 auto;
        @include clearfix;
    }

    .site-branding {
        float: left;

        .site-title {
            a {
                width: 120px;
                height: 48px;
                // display: inline-block;
                display: block;
                background: url(img/logo/logo.svg) 50% 50% no-repeat;
                text-indent: -9999px;
                // float: left;
                padding: 0 12px;
                box-sizing: content-box;
            }
        }
    }

    .main-navigation {
        // display: inline-block;
        float: left;
        width: auto;
        clear: none;

        a {
            padding: 30px 12px;
            color: #000;
            transition: color .2s ease;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                height: 4px;
                width: 0;
                background: #ef4030;
                transform: translate3d(-50%,0,0);
                transition: width .2s ease;
            }

            &:hover {
                color: #999;

                &:after {
                    width: 100%;
                }
            }
        }

        .current-menu-item a {
            color: #999;

            &:after {
                width: 100%;
            }
        }
    }
}
